body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #121212;
}

.center-text {
  font-size: 2em;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid #ffffff;
  border-radius: 8px;
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
